.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .webpage-view {
    background-color: white;
    position: fixed;
    top: 65px;
    bottom: 30px;
    left: 0px;
    width: calc(74vw);
    display: flex;
    /* justify-content: flex-start; */
    flex-direction: column;
  }
  /* .navbar{
    display: flex;
    justify-content: flex-start;
    padding-top: 0px;
    right: 0%;
    width: 100%;
  }
  .page-content{
    z-index: 1;
  } */
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0px;
    overflow: hidden;
    background-color: #333;
    }

    li {
    float: left;
    }

    li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    }

    li a:hover:not(.active) {
    background-color: #111;
    }